name: CI in action

on:
  # Triggers the workflow on push or pull request events
  push:
    branches:
      - 'main'  # Triggers on push to the main branch
  pull_request:
    branches:
      - 'main'  # Triggers on pull request to the main branch
    types:
      - opened

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest

    #steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7

  govulncheck:
    runs-on: ubuntu-latest
    name: Run govulncheck
    steps:
      - id: govulncheck
        uses: golang/govulncheck-action@v1

  test_app:
    runs-on: ubuntu-latest
    name: Run tests
    
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.3'
          
      - name: Run tests
        run: go test ./...

  build:
    runs-on: ubuntu-latest
    name: Run Build

    needs: [govulncheck, test_app]
    
    steps:
      - name: checkout code
        uses: actions/checkout@v4
  
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.3'
          
      - name: Run build
        run: go build -o ./bin/api ./cmd/api/...
        
        
      

        
        
