name: demo workflow

on:
  push:
    branches:
      - '**'  # Triggers on push to any branch

# jobs:
#   golangci:
#     name: lint
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v4
#       - uses: actions/setup-go@v5
#         with:
#           go-version: stable
#       - name: golangci-lint
#         uses: golangci/golangci-lint-action@v7
#         with:
#           version: v2.0

jobs:
  govulncheck_job:
    runs-on: ubuntu-latest
    name: Run govulncheck
    steps:
      - id: govulncheck
        uses: golang/govulncheck-action@v1
        
